.header {
    background-color: aquamarine;
    text-align: center;
    padding: 20vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200vh;
    width: auto;
}

div .small-grid {
    background-color: gray;
    width: 130px;
    height: 90px;
}

div .small-grid2 {
    width: 130px;
    height: 90px;
    background-color: wheat;
    animation-name: candle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes candle {
    from {
        background-image: url(/img/cake_cooked.png);
    }

    to {
        background-image: url(/img/cake_cooked2.png);
    }
}