.final-text {
	display:flexbox;
	text-align:left;
	margin-right: 50%;
	margin-top: 20%;
	margin-left: 15;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
	grid-template-rows: 230px 230px auto;
    gap: 20px
  }

  .clickyflor {
	position:absolute;
  }

#textbox {
	
	/*Sets a border*/
	border: 0.125vmin solid var(white);
	
	/*Sets a background color*/
	background: var(black);
	
	/*Sets size and padding*/
	width: 75%;
	height: 20%;
	padding: 0.5rem;
	
	/*Makes text scrollable*/
	overflow: auto;
	word-break: break-word;
	
	/*Positioning in container*/
	margin: auto;
}


#optionsbox{
	background-color:rgb(255, 191, 212);
	color:black;
}

#optionsbox > div:hover{
	background-color:rgb(175, 161, 226);
	color:white;
	cursor:pointer;
}

.rightalign{
	/*Right alignment class for the sprite*/
	right: -7%;
	bottom:-5%;
}

.leftalign{
	/*Left alignment class for the sprite*/
	left: 5%;
}

#spritebox {
	text-align:right;
}

#spritebox img{
	scale: 500%;
	width:fit-content;
	object-fit:cover;
}